<div class="modal" id="sentEmailToManager" style="display:block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#4e0087">
          <h5 class="modal-title" style="color:white"><span id="identifier2" hidden></span>Give Authority to Add Reviewer</h5>
          <button class="close" (click)="onCloseCancel()">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group" id="">
              <label for="authEmail">Email</label>
              <input type="text" placeholder="Type Email to assign authority" name="authMangerEmail" class="form-control" id="authMangerEmail">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary"(click)="onCloseCancel()" >Close</button>
          <button class="btn btn-warning" (click)="sentEmail()">Sent</button>
        </div>
      </div>
    </div>
  </div>
  