<div class="modal" id="editCan" style="display:block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#4e0087">
        <h5 class="modal-title" style="color:white">Candidate Details</h5>
        <button class="close" (click)="onCloseCancel()">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="repositoryName">Repository Name</label>
            <input type="text" name="repositoryName" class="form-control" [(ngModel)]="candidate.repositoryName" #repositoryName="ngModel" disabled>
          </div>
          <div class="form-group">
            <label for="candidateName">Candidate Name</label>
            <input type="text" name="candidateName" class="form-control" [(ngModel)]="candidate.name"  #repositoryName="ngModel" disabled>
          </div>
          <div class="form-group">
            <label for="candidateEmail">Candidate Email</label>
            <input type="text" name="candidateEmail" class="form-control" [(ngModel)]="candidate.email"  #repositoryName="ngModel" disabled>
          </div>
          <div class="form-group">
            <label for="problems">Problems</label>
            <input type="text" name="candidateProblem" class="form-control" [(ngModel)]="candidate.problem"  #repositoryName="ngModel" disabled>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control">
                          <option  selected="selected">{{candidate.progressStatus}}</option>
                          <option>Doing</option>
                          <option>Done</option>
                          <option>Being-Reviewed</option>
                          <option>Completed</option>
            </select>
          </div>
          <div class="form-group">
              <label for="reviewerLi">Reviewers</label>
              <div class="reviewerLi" name = "reviewerLi" id="reviewerLi">
                  <ul>
                    <li class="d-inline mr-4 px-3 py-2 mb-5" *ngFor = "let reviewer of reviewerList" (click)="deleteReviewer(reviewer)"> {{reviewer}}</li>
                  </ul>
              </div>
          </div>
          <div class="row justify-content-around mt-4">
            <button type="reset" class="btn btn-secondary col-md-5" (click)="onCloseCancel()">Close</button>
            <button type="submit" class="btn btn-purple col-md-5" (click)="SaveChange()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
