<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block pb-5">
        <!--<div >-->
          <!--<a routerLink="/" href="#" class = "btn btn-link"><i class ="fa fa-arrow-circle-o-left"></i> Back</a>-->
        <!--</div>-->
        <h3 style="text-align: center">Add New Candidate</h3>
        <small>Create a technical challenge for a potential candidate</small>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="candidateName">Candidate Name</label>
            <input type="text" name="candidateName" [(ngModel)]="name" class="form-control" required ="Please provide candidate's name">
            <!--<div *ngIf="candidateName.errors?.required && candidateName.touched" class ="alert alert-danger"></div>-->
          </div>
          <div class="form-group">
            <label for="candidateEmail">Candidate Email</label>
            <input type="email" name="candidateEmail" [(ngModel)]="email" class="form-control" required="Please provide candidate's email address">
          </div>
          <div class="form-group">
            <label for="candidateGithubID">Candiate Github ID</label>
            <input type="text" name="candidateGithubID" [(ngModel)]="githubID" class="form-control" required="Please provide candidate's github id">
          </div>
          <!--<div class="form-group">-->
            <!--<label for="candidateRepository">Repository Name</label>-->
            <!--<input type="text" [(ngModel)]="repositoryName" name="candidateRepository" class="form-control" required="Please provide a name for repository">-->
          <!--</div>-->
          <div class="form-group">
            <label for="problems">Problems</label>
            <select id="problems" name = "problem" [(ngModel)]="problem" class="form-control">
               <!--TODO: List of candidate problems currently hard coded into html (shift to db)-->
                    <option>Origin-Technical-Challenge</option>
            </select>
          </div>
          <div class="row justify-content-around mt-4">
            <button type="reset" class="btn btn-secondary col-md-5">Reset</button>
            <button type="submit" class="btn btn-purple col-md-5" id="">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
