<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-block pb-5">
        <!--<div >-->
        <!--<a routerLink="/" href="#" class = "btn btn-link"><i class ="fa fa-arrow-circle-o-left"></i> Back</a>-->
        <!--</div>-->
        <h3 style="text-align: center">Please fill in your feedback for the candidate  </h3>

        <form #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <br>
            <label for="solution">Solution Design</label>
            <textarea name="solution" rows="3" [(ngModel)]="solution" class="form-control" required ="Please provide comments about the solution design"></textarea>
            <!--<div *ngIf="candidateName.errors?.required && candidateName.touched" class ="alert alert-danger"></div>-->
          </div>
          <div class="form-group mb-4">
              <span >1</span> <input  type="range" min="1" max="5" value="3" step="1" class="slider" id="solutionslide"> <span >5</span>
          </div>


          <div class="form-group">
            <label for="concerns">Separation of Concerns</label>
            <textarea name="concerns" [(ngModel)]="style" class="form-control" required="Please provide comments on the candidate's Seperation of Concerns"></textarea>
          </div>
          <div class="form-group mb-4">
            <span >1</span> <input type="range" min="1" max="5" value="3" step="1" class="slider" id="concernsslide"> <span >5</span>
          </div>


          <div class="form-group">
            <label for="readability">Solution's Readability</label>
            <textarea name="readability" [(ngModel)]="readability" class="form-control" required="Please provide comments on the Solution readability"></textarea>
          </div>
          <div class="form-group mb-4">
            <span >1</span> <input type="range" min="1" max="5" value="3" step="1" class="slider" id="readabilityslide"> <span >5</span>
          </div>


          <div class="form-group">
            <label for="knowledge">Knowledge and Technology</label>
            <textarea name="knowledge" [(ngModel)]="knowledge" class="form-control" required="Please provide comments on the Candidate's knowledge and technical skill"></textarea>
          </div>
          <div class="form-group mb-4">
            <span >1</span> <input type="range" min="1" max="5" value="3" step="1" class="slider" id="knowledgeslide"> <span >5</span>
          </div>


          <div class="form-group">
            <label for="comprehensive">Test Comprehensiveness</label>
            <textarea name="comprehensive" [(ngModel)]="comprehensive" class="form-control" required="Please provide comments on test comprehensiveness"></textarea>
          </div>
          <div class="form-group mb-4">
            <span >1</span> <input type="range" min="1" max="5" value="3" step="1" class="slider" id="comprehensiveslide"> <span >5</span>
          </div>


          <div class="form-group">
            <label for="quality">Test Quality</label>
            <textarea name="quality" [(ngModel)]="quality" class="form-control" required="Please provide comments on test quality"></textarea>
          </div>
          <div class="form-group mb-4">
            <span >1</span> <input type="range" min="1" max="5" value="3" step="1" class="slider" id="qualityslide"> <span >5</span>
          </div>


          <div class="form-group">
            <label for="summary">Summary feedback</label>
            <textarea name="summary" [(ngModel)]="summary" class="form-control" required="Please provide a summary of the feedback for HR use"></textarea>
          </div>
          <br>
          <div class="form-group">
            <label for="recommend">Recommended Skill Level</label>
            <select id="recommend" name = "recommend" [(ngModel)]="recommend" class="form-control">
              <!--TODO: List of candidate problems currently hard coded into html (shift to db)-->
              <option>Do not pursue</option>
              <option>Junior</option>
              <option>Intermediate</option>
              <option>Senior</option>
            </select>
          </div>
          <!--<div class="form-group">-->
          <!--<label for="candidateRepository">Repository Name</label>-->
          <!--<input type="text" [(ngModel)]="repositoryName" name="candidateRepository" class="form-control" required="Please provide a name for repository">-->
          <!--</div>-->
            <button type="reset" class="btn btn-secondary col-md-5">Reset</button>
            <button type="submit" class="btn btn-warning col-md-5" id="">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
