#btn1{
    background-color: #6100a5;
    z-index: 999;
}

#addReviewer{
	background: #6100A5;
	border-color: #6100A5;
	box-shadow: 0px 3px 10px #3e0372;
	margin-right: 20px;
}

#addReviewer:hover {
	background: #4e0087;
}

.viewResult{
	box-shadow: 0px 3px 10px #88ceab;
}

.cdk-overlay-container{
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0);
	top:200px;
	left:600px;
}

#addReview{
	margin-top: 160px;
}
#reviewerList ul{
	list-style: none;
	padding-left: 15px;
}
#reviewerList ul li{
	background-color: #6100A5;
	border-radius: 15px;
	color: white;
	font-size: 14px;
}