body {
	background: white;
	font-size: 18pt;
	font-family: Helvetica, Arial,Verdana;
}

.headerbg{
	height: 76.6px;
	width: 100%;
	background: #f7f6f6;
	position: relative;
	font-size: 30pt;
	font-family: Helvetica, Arial, Verdana;
}

#left-sidebar{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 15;
	background: #ebebeb;
	border-left: 1px solid #e2e2e2;
	width: 311.8px;
	height: 100%;
	box-sizing: border-box;
}

#left-tab{
	width: 311.8px;
	height: 155.9px;
	background: #ebebeb;
	margin-bottom: 2px;
	border-bottom: 1pt solid #d6d6d6;
	z-index: 20;
	font-family: inherit;
	font-size: 21pt;
	color: #505659;
}

#left-tab-select{
	width: 311.8px;
	height: 155.9px;
	background: #6100a5;
	margin:0;
	margin-bottom: 2px;
	padding: 0;
	border-bottom: 1pt solid #d6d6d6;
	z-index: 25;
	box-shadow: 0px 7px 12px #3e0372;
	font-family: inherit;
	font-size: 21pt;
	font-weight: bold;
	color: #6100a5;
}

#left-usage{
	width: 331.8px;
	height: 153px;
	border-top: 1pt solid #d6d6d6;
	color: #6100A5
	font-family: inherit;
	font-size: 21pt;
}

.project_list_frame{
	height: 155px;
	width: 100%;
	border: 1pt solid #d6d6d6;
	margin: 14px 14px 0px 14px;
	position: relative;
	background-color: #fafafa;
}

.list_item{
	vertical-align: middle;
	font-size: 18px;
	font-family: inherit;
	text-align: left; 
}

.list_item_title{
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 21pt;
	font-family: inherit;
}

.list_item_modify{
	text-align: right;
	font-family: inherit;
	color: #3d8af7;
}

.button_reviewer{
	color: white;
	font-size: 13pt;
	border:none;
	background-color: #6100a5;
	border-radius: 8.5px;
	margin-right: 50px;
	box-shadow: 0px 5px 10px #3e0372;
	padding:7px 15px 7px 15px;
	text-align: left;
}

.button_result{
	color: white;
	font-size: 13pt;
	border:none;
	background-color: #009688;
	border-radius: 8.5px;
	margin-right: 50px;
	box-shadow: 0px 5px 10px #02594f;
	padding:7px 15px 7px 15px;
	text-align: left;
}

.popup_box{
	background: #ffffff;
	border: 1pt solid #9b9b9b;
	border-radius: 8.5px;
	width: 595px;
	min-height: 287px;
	height:auto;
	z-index:2000;
	position:absolute;
	top: 50%;
	left: 50%;
}

.popup_box_h2{
	color: white;
	min-height: 50px;
	width: inherit;
	background:#6100A5;
	text-align: left;
	padding: 14px;
	font-size: 24pt;
	font-weight: bold;
	border-radius: 8.5px 8.5px 0px 0px;
}

.popup_box_main{
	width: inherit;
	min-height: 237px;
	font-family: Helvetica, Arial,Verdana;
	font-size: 22pt;
	color: black;
	vertical-align:text-top;
	padding: 36px 70px 36px 70px;
	text-align:left;
}

.popup_box_main h1{
	font-size: 28pt;
	font-family: inherit;
	font-weight: bold;
	margin-bottom: 25px;
}

.popup_box_main p{
	font-size: 24px;
	font-family: inherit;
	margin-bottom: 10px;
}
.popup_box_main select{
	background: #f4f4f4;
	border: 1pt solid #6100a5;
	width: 453px;
	height: 37px;
	color: black;
	font-size: 20pt;
	font-family: inherit;
}
.btn_reviewer_name{
	color: white;
	font-size: 11.5pt;
	border:none;
	background-color: #6100a5;
	border-radius: 14.5px;
	margin-right: 5px;
	padding:7px 15px 7px 15px;
	text-align: left;
	margin-top: 28px;
	margin-right: 7px;
}

.btn_reviewer_cancel{
	background:url('cancle.png') no-repeat;
	width: 24px;
	height: 23px;
	margin-top: 28px;
	margin-right: 27px;
	text-align: left;
}

#btn_cancel{
	padding:10px 20px 10px 20px;
	background-color: #cccccc;
	color: white;
	font-size:22 pt;
	border-radius: 8.5px;
}

#btn_save{
	padding:10px 20px 10px 20px;
	background-color: #6100a5;
	color: white;
	font-size:22 pt;
	border-radius: 8.5px;009688
}

#btn_submit{
	padding:10px 20px 10px 20px;
	background-color: #009688;
	color: white;
	font-size:22 pt;
	border-radius: 8.5px;
}
.form_text{
	background: #d8d8d8;
	border: 1pt solid #6100a5;
	width: 453px;
	height: 37px;
	color: black;
	font-size: 20pt;
	font-family: Helvetica, Arial,Verdana;
	margin:8px 0px 8px 0px;
}

.repo_cmt{
	max-width: 624px;
	min-height: 69px;
	color:black;
	background: #f4f4f4;
	border: 1pt solid #6100a5;
	margin:0px 0px 10px 27px;
}
.repo_cmt h1{
	font-size: 28pt;
	font-family: inherit;
	font-weight: bold;
	margin:20px 0px 5px 27px;
}

.repo_cmt p{
	font-size: 24px;
	font-family: inherit;
	margin:0px 0px 10px 27px;
}
