<div class="row">
  <div class="col-sm-11 mx-auto">
    <p>Candidate List></p>
  </div>
</div>
<ul class="Unstyled" *ngIf="candidates?.length>0; else noCandidates">
<!--<ul class="Unstyled" *ngIf="repos$ | async as repos else noData">
  <li class="card mb-1" *ngFor="let repo of repos">
    <div class="mx-5 py-4 row justify-content-between  align-items-center">
      <div>
        <h4 class="card-title">{{repo.name}}</h4>
        <span class="card-text-createdby">Created by: {{repo.owner.login}} </span>-->
<li class="card mb-1" *ngFor="let c of candidates">
  <div class="mx-5 py-4 row justify-content-between  align-items-center">
    <div>
      <h4 class="card-title">{{c.problem}}-{{c.githubID}}  </h4>
      <span class="card-text-createdby">Created by: {{c.adder}} {{c.progressStatus}} </span>
      <!--<span class="card-text-githubID">Name: {{repo.full_name}} | </span>-->
      <!--<span class="card-text-progressStatus">Collaborators url: {{repo.subscribers_url}} </span>-->
    </div>
    <div>
      <button class="btn btn-warning btn-sm" (click)="openDialog(c.githubID)"> Add Reviewers</button>
      <button class="btn btn-success btn-sm viewResult"> View Result</button>
      <button class="btn btn-link" (click)="editCan()"> Edit</button>
      <button class="btn btn-link"> Delete</button>
    </div>
  </div>
</li>
<!--<li class="card mb-1">-->
<!--<div class="mx-5 py-4 row justify-content-between  align-items-center">-->
<!--<div>-->
<!--<h4 class="card-title">This is Candidate Name</h4>-->
<!--<p class="card-text">Candidate Name Done Create by XXX</p>-->
<!--</div> -->
<!--<div>-->
<!--<button class="btn btn-warning btn-sm" (click)="openDialog()"> Add Reviewers</button>-->
<!--<button class="btn btn-success btn-sm viewResult"> View Result</button>-->
<!--<button class="btn btn-link" (click)="editCan()"> Edit</button>-->
<!--<button class="btn btn-link"> Delete</button>-->
<!--</div > -->
<!--</div>  -->
<!--</li>-->
<!---->
<!--<li class="card mb-1">-->
<!--<div class="mx-5 py-4 row justify-content-between  align-items-center">-->
<!--<div>-->
<!--<h4 class="card-title">This is Candidate Name</h4>-->
<!--<p class="card-text">Candidate Name Done Create by XXX</p>-->
<!--</div> -->
<!--<div>-->
<!--<button class="btn btn-link" (click)="editCan()"> Edit</button>-->
<!--<button class="btn btn-link"> Delete</button>-->
<!--</div > -->
<!--</div>  -->
<!--</li>-->

<!--<li class="card mb-1">-->
<!--<div class="mx-5 py-4 row justify-content-between  align-items-center">-->
<!--<div>-->
<!--<h4 class="card-title">This is Candidate Name</h4>-->
<!--<p class="card-text">Candidate Name Done Create by XXX</p>-->
<!--</div> -->
<!--<div>-->
<!--<button class="btn btn-success btn-sm viewResult"> View Result</button>-->
<!--<button class="btn btn-link" (click)="editCan()"> Edit</button>-->
<!--<button class="btn btn-link"> Delete</button>-->
<!--</div > -->
<!--</div>  -->
<!--</li>-->
</ul>
<!--<ul *ngIf="test$ | async as subscribers else noData">-->
<!--<li *ngFor="let subscriber of subscribers">-->
<!--{{subscriber.login}}-->
<!--</li>-->
<!--</ul>-->
<!--<ng-template #noData>No Data Available</ng-template>-->
<ng-template #noCandidates>
  <hr>
  <h5>There is no candidates in the system</h5>
</ng-template>